{% extends 'admin/header.html' %} {% block content %}

<!-- Container-fluid starts-->
<div class="page-body">
    <!-- All User Table Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                {% for msg in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ msg }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                <div class="card card-table">
                    <div class="card-body">
                        <div class="title-header option-title">
                            <h5>Cars List</h5>
                            <form class="d-inline-flex">
                                <a href="/add_car/" class="align-items-center btn btn-theme d-flex">
                                    <i data-feather="plus-square"></i>Add Car
                                </a>
                            </form>
                        </div>
                        <form class="theme-form theme-form-2 mega-form" action="" method="post"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="table-responsive category-table">
                                <div>

                                    <table class="table all-package theme-table" id="table_id">
                                        <thead>
                                            <tr>
                                                <th>Sl No</th>
                                                <th>Car Name</th>
                                                <th>People</th>
                                                <th>Fuel</th>
                                                <th>Miles</th>
                                                <th>Transmission</th>
                                                <th>Car Image</th>
                                                <th>Option</th>
                                            </tr>
                                        </thead>
                                        {% for y in car %}
                                        <tbody>
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{y.name}}</td>

                                                <td>{{y.people}}</td>

                                                <td>{{y.fuel}}</td>

                                                <td>{{y.miles}}</td>

                                                <td>{{y.transmission}}</td>

                                                <td>
                                                    <div class="table-image">
                                                        <img src={{y.image.url}} class="img-fluid" alt="">
                                                    </div>
                                                </td>

                                                <td>
                                                    <ul>

                                                        <li>
                                                            <a href="/view_single_car/?id={{y.id}}">
                                                                <i class="ri-eye-line"></i>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="/update_car/?id={{y.id}}">
                                                                <i class="ri-pencil-line"></i>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="/delete_car/?id={{y.id}}">
                                                                <i class="ri-delete-bin-line"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                                {% endfor %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- All User Table Ends-->
    <!-- Delete Modal Box Start -->
    <div class="modal fade theme-modal remove-coupon" id="exampleModalToggle" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-block text-center">

                    <h5 class="modal-title w-100" id="exampleModalLabel22" style="color: #d6be83;">Are you sure you want
                        to delete ?</h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times" style="color: black;"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="remove-box">
                        <!-- <p style="color: #d6be83;">Are you sure you want to delete ?</p> -->
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal"
                        style="color: black;">No</button>

                    <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-target="#exampleModalToggle2"
                        data-bs-toggle="modal" data-bs-dismiss="modal" style="color: black;">Yes</button>

                </div>

            </div>
        </div>
    </div>

    <div class="modal fade theme-modal remove-coupon" id="exampleModalToggle2" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel12" style="color: #d6be83;">Done!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times" style="color: black;"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="remove-box text-center">
                        <div class="wrapper">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"
                                    style="color: black;" />
                                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                            </svg>
                        </div>
                        <h4 class="text-content" style="color: #d6be83;">It's Removed.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal"
                        style="color: black;">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Modal Box End -->

    {% endblock %}